# Build Folders
bin/
obj/

# Visual Studio Files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider Files
.idea/
*.sln.iml

# User-specific files
*.ncrunchproject
*.ncrunchsolution
*.ncruncher
*.userprefs

# Visual Studio Code
.vscode/

# Backup files
*~
*.bak
*.tmp

# DotNet Core
project.lock.json
project.fragment.lock.json
*.dbmdl

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Publish Output
publish/

# Test Results
TestResults/
*.trx

# Coverage Results
*.coverage
*.coveragexml
Mysql/dbmysql-volume/*
